DATABASE_URL="postgresql://neondb_owner:npg_bQzAsTf76pIx@ep-snowy-water-ao0gdndv-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
ADMIN_PASSWORD="dumpy123"
AUTH_SECRET="your-secret-key-here"
